{% extends 'leave_manager/layout.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 mx-auto">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Add New Rhymes</h4>
                    </div>
                    <form method="POST" class="register-form" id="register-form">
                        {% csrf_token %}
                        <div class="content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Type</label>
                                        <input type="text" class="form-control" placeholder="eg. Festivals"
                                               name="type" required>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-button">
                                        <button type="submit" name="signup" id="signup"
                                                class="btn btn-fill btn-info pull-right">
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block welcome_message %}
    {% if message %}
    <script type="text/javascript">
        $(document).ready(function () {
            $.notify({
                icon: 'pe-7s-info',
                message: "{{ message }}"

            }, {
                type: type[4],
                timer: 4
            });

        });
    </script>
    {% endif %}
{% endblock welcome_message %}