lms_admin_email: 'test@test.com'
lms_admin_password: 'thisisjustT3sTp@ssword'
smtp_server: 'smtp.test.com'
smtp_port: 465
pusher_app_id: 'app_id'
pusher_key: 'app_key'
pusher_secret: 'app_secret'
pusher_cluster: 'ap2'
pusher_ssl: True
EMAIL_USE_TLS: True
secret: 'your jwt secret here'

debug: True
allowed_hosts: ['*']