{% extends 'leave_manager/layout.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card card-user">
                    <div class="image">
                        <img src="{% static 'lms_user/images/inc-cover.png' %}"
                             alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                {% if user_detail.image %}
                                    <img class="avatar border-gray" src="{% static user_detail.image %} " alt="..."/>
                                {% else %}
                                    <img class="avatar border-gray" src="{% static 'lms_user/images/photograph.png' %} "
                                         alt="..."/>
                                {% endif %}
                                <h4 class="title">{{ leave.user }}<br/>
                                    {% comment %} <small>{{ user }}</small> {% endcomment %}
                                </h4>
                                <h4>Department: {{ leave.user.department }}</h4>
                            </a>
                        </div>

                    </div>
                    <hr>
                    <div class="text-center">
                        <a href="tel:{{ leave.user.phone_number }}">
                            <button class="btn btn-simple"><i
                                    class="fa fa-phone"></i><span>  </span><span>{{ leave.user.phone_number }}</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2 mx-auto">
                <div class="card card-user">
                    <div class="content">
                        <h4 class="card-title text-center">Leave Details</h4>
                        <hr/>
                        <br/>
                        <div class="row">
                            <div class="col-md-4">
                                <label>From Date:</label>
                                <input type="text" value="{{leave.from_date}}" class="form-control" disabled/>
                            </div>
                            <div class="col-md-4">
                                <label>To Date:</label>
                                <input type="text" value="{{leave.to_date}}" class="form-control" disabled/>                            
                            </div>
                            <div class="col-md-4">
                                <label>Half Day:</label>
                                <p class="card-text">
                                {% if leave.half_day %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}         
                                </p>                  
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Reason</label>
                                <br/>
                                <textarea class="form-control" disabled>{{leave.reason}}</textarea>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-3">
                                <label>Type</label>
                                <p class="card-text">{{leave.type}}</p>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-8">
                                <label>Leave Response</label>
                                <br/>
                                <input class="form-check-input" name="leave" type="radio" value="" disabled id="defaultCheck1" {% if leave.leave_approved %} checked {% endif %}>
                                <label class="form-check-label" for="defaultCheck1">
                                    Leave Approved
                                </label>
                                &nbsp;
                                &nbsp;
                                <input class="form-check-input" name="leave" type="radio" disabled value="" id="defaultCheck1" {% if leave.leave_pending %} checked {% endif %}>
                                <label class="form-check-label" for="defaultCheck1">
                                    Leave Pending
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}