{% extends 'leave_manager/layout.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 mx-auto">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Change Password</h4>
                    </div>
                    {% load addcss %}
                    <form method="POST" class="PasswordResetForm" id="PasswordResetForm" action="/password-change">
                        {% csrf_token %}
                        <div class="content">
                            {% for field in form %}     
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ field.errors }}
                                            <label>{{ field.label }}</label> {{field|addcss:"form-control"}}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% comment %} <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input type="password" class="form-control" name="new_password"
                                               placeholder="New Password" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="password" class="form-control" name="confirm_password"
                                               placeholder="Confirm Password">
                                    </div>
                                </div>
                            <div> {% endcomment %}
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group form-button">
                                        <button type="submit" name="change-password" id="change-password"
                                                class="btn btn-fill btn-info pull-right">
                                            Change Password
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block welcome_message %}
    {% if message %}
    <script type="text/javascript">
        $(document).ready(function () {
            $.notify({
                icon: 'pe-7s-info',
                message: "{{ message }}"

            }, {
                type: type[4],
                timer: 4
            });

        });
    </script>
    {% endif %}
{% endblock welcome_message %}