{% extends 'lms_user/base.html' %}
{% load static %}

{% block content %}
    <div class="main">
        <div class="container">
             <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="{% static 'lms_user/images/browser-lock.png' %}" alt="sign in image"></figure>
                    <a href="{% url 'user-login' %}" class="signup-image-link">Home</a>
                </div>

                <div class="signin-form">
                    {% if validlink %}
                        <h2 style='margin:15px'>Change password</h2>
                        {% load addcss %}
                        <form method="post">
                        {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group" style='margin:15px'>
                                    {{ field.errors }}
                                    {{ field.label }} {{field|addcss:"form-control"}}
                                </div>
                            {% endfor %}
                            <div class="form-group form-button" style='margin:15px'>
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Change Password"/>
                            </div>
                            <br/>
                        </form>
                    {% else %}
                        <p style='margin:15px'>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}