{% extends 'lms_user/login.html' %}
{% load static %}

{% block password_reset %}
   <div id="alert-text" style="padding-top:30px;text-align:center" class="w3-panel w3-green">
    <p>
        <strong>Your password has been sucessfully changed &nbsp; 
        <span class="panel-box" onclick="closeNav()">&times;</strong></span>
    </p>

    </div>
    <script>
      function closeNav() {
        document.getElementById("alert-text").style.display = "none";
      }
    </script>
{% endblock password_reset %}