{% extends 'lms_user/base.html' %}
{% load static %}

{% block content %}
    <div class="main">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'lms_user/images/browser-lock.png' %}" alt="sing in image"></figure>
                        <a href="{% url 'user-login' %}" class="signup-image-link">Home</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Password Reset</h2>
                        {% load addcss %}
                        <form method="POST" class="register-form" action="/password-reset">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.errors }}
                                    {{ field.label }} {{field|addcss:"form-control"}}
                                </div>
                            {% endfor %}
                            <div class="form-group form-button">
                                <input type="submit" name="sendmail" id="sendmail" class="form-submit" value="Send Mail"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
