.welcome-img {
    width: 350px;
    margin-top:-38px;
    margin-bottom: -38px;
}

.welcome-text {
    font-size: 2.5rem;
}

.btn-floating {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18),
    0 4px 15px 0 rgba(0, 0, 0, .15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    transition: all .2s ease-in-out;
    margin-top: 10px; /* margin: 10px; */
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 0;
}

.image-cropper {
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.profile-image {
    width: 100px;
    height: 100px;
}

.view-more {
    display: inline-block;
}

.card {
    max-height: 440px;
    box-sizing: border-box
}

td i {
    visibility: hidden;
}

tr:hover i {
    visibility: visible;
    cursor: pointer;
}

.fixed-action-btn {
    position: fixed;
    z-index: 998;
    right: 35px;
    bottom: 35px;
    margin-bottom: 0;
    /* padding-top: 15px; */
}

.fixed-apply-btn {
    position: fixed;
    z-index: 998;
    right: 35px;
    bottom: 82px;
    margin-bottom: 0;
    /* padding-top: 15px; */
}

.fixed-apply-btn button {
    width: 95%;
}

.icons-align-mid {
    padding-top: 14px;
}

.hide {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

.modal-footer {
    border: none;
}

.custom-blue, .custom-blue:hover {
    background-color:#3bbedb;
    color: #fff
}

.custom-blue-text, .custom-blue-text:hover {
    color: #3bbedb;
}

.custom-blue-outline,
.custom-blue-outline:hover {
    color: #3bbedb;
    background-color: transparent;
    border: 1px solid #3bbedb;
}

.floating-shadow {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18),
    0 4px 15px 0 rgba(0, 0, 0, .15);
}

.dropdown-menu a:hover {
    background-color:#3bbedb;
    color: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18),
    0 4px 15px 0 rgba(0, 0, 0, .15);
}

.btn-rounded {
    border-radius: 10em;
}

#username {
    border-bottom: 1px solid #6a6a6a;
    display: inline;
    padding-bottom: 25px;
}

.wrapper-progress-circle {
    display: inline-block;
    margin-right: 20px;
}

.progress-circle {
    font-size: 16px;
}

.circular-progress-label {
    font-size: 12px;
}