.welcome-img {
    width: 350px;
    margin-top:-38px;
    margin-bottom: -38px;
}

.welcome-text {
    font-size: 2.5rem;
}

.btn-floating {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18),
    0 4px 15px 0 rgba(0, 0, 0, .15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    transition: all .2s ease-in-out;
    margin-top: 10px; /* margin: 10px; */
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 0;
}

.image-cropper {
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.profile-image {
    width: 100px;
    height: 100px;
}

.view-more {
    display: inline-block;
}

td i {
    visibility: hidden;
}

tr:hover i {
    visibility: visible;
    cursor: pointer;
}

.fixed-action-btn {
    position: fixed;
    z-index: 998;
    right: 35px;
    bottom: 35px;
    margin-bottom: 0;
    /* padding-top: 15px; */
}

.fixed-apply-btn {
    position: fixed;
    z-index: 998;
    right: 35px;
    bottom: 82px;
    margin-bottom: 0;
    /* padding-top: 15px; */
}

.fixed-apply-btn button {
    width: 95%;
}

.icons-align-mid {
    padding-top: 14px;
}

.hide {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

.modal-footer {
    border: none;
}

.custom-blue, .custom-blue:hover {
    background-color:#3bbedb;
    color: #fff
}

.custom-blue-text, .custom-blue-text:hover {
    color: #3bbedb;
    font-size: 15px;
}

.custom-blue-outline,
.custom-blue-outline:hover {
    color: #3bbedb;
    background-color: transparent;
    border: 2px solid #3bbedb;
}

.floating-shadow {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18),
    0 4px 15px 0 rgba(0, 0, 0, .15);
}

.dropdown-menu a:hover {
    background-color:#3bbedb;
    color: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18),
    0 4px 15px 0 rgba(0, 0, 0, .15);
}

.btn-rounded {
    border-radius: 10em;
}

.wrapper-progress-circle {
    display: inline-block;
    margin-right: 20px;
    color: #828080;
}

.wrapper-progress-circle span {
    color: #7b7b7b
}

.progress-circle {
    font-size: 16px;
}

.circular-progress-label {
    font-size: 12px;
}

.progress-circle.over50 .first50-bar {
    border: 0.45em solid #3bbedb;
}

.value-bar {
    border: 0.45em solid #3bbedb;
}

.approved .value-bar {
    border: 0.45em solid #48c131;
}

.rejected .value-bar {
    border: 0.45em solid #db3b3b;
}

.text-color-indicator {
    font-size: 100px;
    line-height: 0px;
}

.text-color-indicator p {
    font-size: 16px;
    display: inline;
}

.leave-history table, .overflow-scroll {
    overflow: scroll;
    display: block;
}

table td {
    font-weight: 400;
}

.custom-select {
    outline: 0;
    border: 0;
    border-bottom: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out,
    -webkit-box-shadow .15s ease-in-out;
}

.custom-select:active,
.custom-select:focus {
    outline: 0;
    box-shadow: 0 1px 0 0 #4285f4;
    border-bottom: 2px solid #4285f4;
}

.custom-select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.pagination .page-item.active .page-link,
.pagination .page-item.active .page-link:hover {
    background-color: #3bbedb !important;
}

table.table a {
    color: #3bbedb;
}

.homepage-noticeBoard {
    height: 303px;
}

.leave-today {
    height: 400px;
}

