.btn-floating {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18),
    0 4px 15px 0 rgba(0, 0, 0, .15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    transition: all .2s ease-in-out;
    margin-top: 10px; /* margin: 10px; */
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 0;
}

.image-cropper {
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.view-more {
    display: inline-block;
}

.card {
    max-height: 440px;
    box-sizing: border-box
}

td i {
    visibility: hidden;
}

tr:hover i {
    visibility: visible;
    cursor: pointer;
}

.fixed-action-btn {
    position: fixed;
    z-index: 998;
    right: 8%;
    bottom: 35px;
    margin-bottom: 0;
    /* padding-top: 15px; */
}

.icons-align-mid {
    padding-top: 14px;
}

.hide {
    display: none;
}