{% extends 'leave_manager/layout.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 mx-auto">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Add New Company Holidays</h4>
                    </div>
                    <form method="POST" class="register-form" id="register-form" enctype ="multipart/form-data">
                        {% csrf_token %}
                        {% load addcss %}
                        <div class="content">
                            {% for field in form %}
                                    {{field.errors}}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>{{field.label_tag}}</label>
                                                {{field|addcss:"form-control"}}
                                            </div>
                                        </div>
                                    </div>  
                            {% endfor %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-button">
                                        <button type="submit" name="signup" id="signup" class="btn btn-fill btn-info pull-right">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block welcome_message %}
    {% if message %}
    <script type="text/javascript">
        $(document).ready(function () {
            $.notify({
                icon: 'pe-7s-info',
                message: "{{ message }}"

            }, {
                type: type[4],
                timer: 4
            });

        });
    </script>
    {% endif %}
{% endblock welcome_message %}
