{% extends 'leave_manager/layout.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="{% if leave_issuer %} col-md-10 {% else %} col-md-12 {% endif %}">
                {% if messages %}
                    {% for m in messages %}
                        {% if m.tags == "1 success" %}
                           <div class="alert alert-success alert-dismissible">
                                <a href="#" style="margin-right:20px;" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{m}}
                            </div>
                        {% else %}
                          <div class="alert alert-success alert-dismissible">
                            <a href="#" style="margin-right:20px;" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{m}}
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Days</th>
                        <th scope="col">Description</th>
                        
                        {% if leave_issuer %}
                            <th scope="col">Options</th>
                        {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if holidays %}
                           {% for holiday in holidays %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td><img src="{% static holiday.image %}" width=150px/></td>
                                    <td>{{ holiday.title }}</td>
                                    <td>{{ holiday.days }} 
                                    {% if holiday.days <= 1 %}
                                        day
                                    {% else %}
                                        days
                                    {% endif %}
                                    </td>
                                    <td>{{ holiday.description }}</td>
                                    {% if leave_issuer %}
                                        <td style="display: flex;">
                                            <a href="{% url 'holidays-edit' holiday.id %}" class="btn btn-primary btn-flat margin btn-sm" style="margin-right:10px"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            <form action="{% url 'holidays-delete' holiday.id %}" method="post">
                                            {% csrf_token %}
                                                <button class="btn btn-danger btn-flat margin btn-sm" type="submit">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </form>
                                        </td>
                                    {% endif %}
                                </tr>
                           {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan=4>
                                    <h5>No Holidays</h5>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            {% if leave_issuer %}
                <div class="col-md-2">
                    <a href="{% url 'add-holidays' %}">
                        <button class="btn btn-primary">
                            Add Holidays
                        </button>
                    </a>
                </div>  
            {% endif %}
        </div>
    </div>
{% endblock content %}